@charset "utf-8";
/* CSS Document */

*{margin:0;
padding:0;}

body{ width:80%;
font-family: 'Roboto', sans-serif;
background-color:#FF9900;
color:#313231;
padding:10px;
margin:3% 10%;
position:relative;
	}
	
i{padding:3px;}
	
h1{
font-family: 'Oswald', sans-serif;}
	
p{
	width:65%;
	font-size:25px;
	text-align:center;}
	
div{ margin-bottom:10%;}

.q{margin-bottom:3%;}
	
.button {
  background-color: white; 
  color: #313231; 
  border: 2px solid #313231;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:10px;
  cursor: pointer;
}

.button:hover {
  background-color: #313231;
  color: white;
}

.tt{font-size:20px;}
